{% import 'Ui/Macro/buttons.html.twig' as buttons %}

{% form_theme form 'Ui/Form/theme.html.twig' %}

<section class="section card mb-5">
    <div class="card-body">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'settings-form'}}) }}

        {% include 'admin/maintenance/form.html.twig' with {'form': form} %}

        {{ form_widget(form._token) }}

        <div class="d-flex justify-content-center mt-4">
            <div class="text-center">{{ buttons.validate('Valider', 'fas fa-save', '') }}</div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>