{% import 'site/promotion/macro/__list.html.twig' as __view %}

{% if promotions|length > 0 %}
    <section>
        <div class="row mt-md-5 mx-lg-5 mx-md-4 home-room-promotion">
            {% for promotion in promotions %}
                {{ __view.list(promotion)}}
            {% endfor %}

            <div class="col-12 d-flex justify-content-center my-2">
                {{ knp_pagination_render(promotions, 'Ui/_pagination.html.twig') }}
            </div>
        </div>
    </section>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-4">
            <h4 class="h4-responsive font-weight-stone-500">Il y a aucune promotion sur le site</h4>
            <div class="mt-4">
                <a href="{{ path('app_room_index') }}" class="btn btn-primary btn-lg">Voir nos hébergements</a>
            </div>
        </div>
    </div>
{% endif %}

