<section class="card header mt-lg-70 mt-70 mb-4">
    <div class="card-body py-2">
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <span class="btn-floating btn-lg btn-primary d-none d-md-inline my-0" style="cursor: default;">
                        <i class="fas fa-newspaper"></i>
                    </span>
                    <h2 class="h2-responsive font-weight-stone-600 text-primary ml-md-3 mt-2 pt-1">
                        Liste des abonnés de la newsletters
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>