<div class="modal" id="app-room-booking-sm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-primary modal-notify" role="document">
        <div class="modal-content text-center">
            <div class="modal-body py-3 px-3">
                <div class="text-right">
                    <a href="" class="btn btn-danger btn-sm font-weight-stone-500" data-dismiss="modal">
                        <i class="fas fa-times mr-2"></i> Fermer
                    </a>
                </div>
                <div class="booking-form mt-5">
                    <div class="d-flex justify-content-between">
                        <div id="booking-sm-checkin-btn" class="booking-bulk checkin d-flex justify-content-start align-items-center w-100 mr-1">
                            <div class="icon"><i class="fas fa-calendar text-primary"></i></div>
                            <div class="text-left">
                                <div class="title text-secondary">Arrivée</div>
                                <div class="date-content grey-text">
                                    {{ data.checkin|format_datetime('medium', 'none', locale='fr') }}
                                </div>
                            </div>
                        </div>
                        <div id="booking-sm-checkout-btn" class="booking-bulk checkout d-flex justify-content-start align-items-center w-100 ml-1">
                            <div class="icon"><i class="fas fa-calendar text-primary"></i></div>
                            <div class="text-left">
                                <div class="title text-secondary">Départ</div>
                                <div class="date-content grey-text">
                                    {{ data.checkout|format_datetime('medium', 'none', locale='fr') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div id="booking-sm-booker-btn" class="booking-bulk user d-flex justify-content-start align-items-center">
                            <div class="icon"><i class="fas fa-user text-primary"></i></div>
                            <div class="text-left">
                                <div class="title text-secondary">Voyageurs</div>
                                <div class="date-content grey-text">
                                    <span class="room">1 chambre, </span>
                                    <span class="customer">2 adultes, </span>
                                    <span class="children">0 enfants</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-primary btn-md btn-block font-weight-stone-600 waves-effect">
                            Verifier la disponibilité
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

