<div class="jumbotron mobile d-block d-md-none">
    <div class="d-flex align-items-center justify-content-center h-100">
        <a id="booking_room_modal_sm_btn" href="" class="btn btn-primary btn-block btn-sm z-depth-0">
            Réserver
        </a>
    </div>
</div>
