{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'admin.group.dashboard'|trans %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block content_title %}
    {{ _content_title }}
{% endblock %}

{% block content_help %}
    <div class="content-header-help">
        {{ 'admin.group.dashboard'|trans }}
    </div>
{% endblock content_help %}

{% block content_footer_wrapper '' %}

{% block main %}

{% endblock %}

