.skin-light .app-brand-logo img {
    width: 30px;
}

.skin-light .app-brand-logo img.visa {
    width: 38px;
}

.skin-light .app-brand-logo img.mc {
    width: 38px;
}
.skin-light .app-brand-logo img.moov {
    width: 33px;
}





/*.skin-light .app-brand-logo img.orange,
.skin-light .app-brand-logo img.wari {
    width: 35px;
    height: 35px;
}

.skin-light .app-brand-logo img.mtn {
    width: 50px;
    height: 35px;
}

.skin-light .app-brand-logo img.moov {
    width: 40px;
    height: 35px;
}

.skin-light .app-brand-logo img.visa {
    width: 50px;
    height: 25px;
}

.skin-light .app-brand-logo img.mc {
    width: 50px;
    height: 35px;
}

.skin-light .app-brand-logo img.yup {
    width: 50px;
    height: 40px;
}*/
