<div id="photosAnnonce" class="form-row mb-5">
    <div id='photoUpload' class="col-12">
        <div class="form-row mt-3">
            <div class="col-12">
                <div id="imgUpload-dropdiv" class="text-center grey lighten-4 py-2 px-4">
                    <label id="imgUpload-drop" class="dm-uploader d-block">
                        <button type="button" class="btn btn-primary mt-3 px-4 depresp17-btn btn-dlphotos btn-photos" id="btn-photos">
                            <i class="fas fa-camera-retro mr-md-2 mr-1"></i> Télécharger des photos
                        </button>
                        <span class="h4-responsive dark-grey-text font-weight-stone-600 d-md-block d-none mt-md-4">
                            ou Glisser directement vos photos ici
                        </span>
                        <span class="grey-text font-weight-stone-600 d-md-none d-block mt-3">
                            ou Glisser directement vos photos ici
                        </span>
                        <input type="file" accept="image/*" title="Cliquer pour ajouter des images" multiple class="d-none input-photo">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-12">
                <div id="imgUpload-list" class="form-row"></div>
            </div>
        </div>
    </div>
</div>

