{% extends 'site/layout.html.twig' %}

{% block title 'Se connecter' %}

{% block app_intro %}
    <div class="bc mt-lg-70 mt-50">
        <div class="mx-md-5 mx-3">
            {{ breadcrumb('Connexion') }}
            {{ wo_render_breadcrumbs({ viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
        </div>
    </div>
{% endblock %}

{% block app_flashes %}{% endblock %}

{% block app_body %}
    {% include 'site/security/login_content.html.twig' %}
{% endblock %}
