{% import 'site/promotion/macro/__list.html.twig' as __view %}

{% if promotions|length > 0 %}
    <section id="home-room-promotion" class="home-room-promotion">
        <div class="row px-md-0">
            <div class="col-12">
                <div class="view content-data
                    {% if promotions|length == 1 %}one
                    {% elseif promotions|length == 2 %}two
                    {% else %}three{% endif %}"
                     style="background-image: url({{ asset('images/promotion.jpg') }});
                             background-repeat: no-repeat;
                             background-size: cover;">
                    <div class="mask rgba-white-strong">
                        <div class="row {#my-md-5#} mx-lg-3 px-3 px-lg-0 mt-4">
                            <div class="col-12">
                                <div class="row d-flex justify-content-start align-items-start">
                                    <div class="col-12 mx-lg-4">
                                        <div class="wow fadeIn">
                                            <h1 class="h1-responsive font-weight-stone-600 text-primary text-center mb-4 pl-2">
                                                <strong class="font-weight-bold">Nos promotions</strong>
                                            </h1>
                                        </div>
                                    </div>

                                    {% for promotion in promotions %}
                                        {{ __view.homeList(promotion)}}
                                    {% endfor %}

                                    <div class="col-12 text-center mt-lg-2">
                                        <a href="{{ path('app_promotion_index') }}" class="btn btn-primary btn-lg">Tous nos offres <i class="fas fa-angle-double-right ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
