{% set data = booker.bookingData %}

<div class="modal" id="booking-booker-modal" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-start align-items-center
                h5-responsive font-weight-stone-600 border" style="box-shadow: none !important">
                <i class="fas fa-times mr-3 text-danger" data-dismiss="modal" style="cursor:pointer;"></i>
                Voyageurs
            </div>
            <div class="modal-body pb-3 px-3">
                <div class="mb-4">
                    <div class="adults d-flex justify-content-between mb-4">
                        <div class="title text-secondary font-weight-stone-500">Adultes</div>
                        <div class="data">
                            <a href="" class="soustraction">-</a>
                            <span class="text-secondary font-weight-stone-500 px-2">{{ data.adult }}</span>
                            <a href="" class="addition">+</a>
                        </div>
                    </div>
                    <div class="children item d-flex justify-content-between mb-4">
                        <div class="title text-secondary font-weight-stone-500">Enfants</div>
                        <div class="data">
                            <a href="" class="soustraction disabled">-</a>
                            <span class="text-secondary font-weight-stone-500 px-2">{{ data.children }}</span>
                            <a href="" class="addition {% if children_state is defined %}disabled{% endif %}">+</a>
                        </div>
                    </div>
                    <div class="room item d-flex justify-content-between mb-4">
                        <div class="title text-secondary font-weight-stone-500">Chambres</div>
                        <div class="data">
                            <a href="" class="soustraction disabled">-</a>
                            <span class="text-secondary font-weight-stone-500 px-2">{{ data.roomNumber }}</span>
                            <a href="" class="addition">+</a>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <button type="button" class="btn btn-primary btn-block btn-md font-weight-stone-500 waves-effect">Terminer</button>
                </div>
            </div>
        </div>
    </div>
</div>


