<div id="cookieConsent">
    Nous utilisons des cookies et d'autres technologies de suivi pour améliorer votre expérience
    de navigation sur notre site.
    <div class="d-block d-lg-inline-block"><button class="cookieAccept btn btn-sm btn-primary ml-2">Accepter</button></div>
</div>
